@font-face {
  font-family: 'Ping';
  src: url(/Ping.Font.Tlwen.com/PingAR+LT-Bold.otf);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Ping', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.left .logo {
  height: 30px;
}

nav ul {
  text-align: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style-type: none;
  padding: 10px 0;
}

nav li a {
  text-decoration: none;
  font-size: 16px;
}

nav li a:hover {
  position: relative;
  left: -3px;
  transition: color 0.3s ease;
}

.right select#language-select {
  padding: 3px 10px;
  border-radius: 30px;
  font-family: "Ping", sans-serif;
  border: 2px solid;
  font-size: 12px;
  cursor: pointer;
}

footer {
  background-color: #004030;
  width: 100%; 
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-links a {
  display: flex;        
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-weight: 800;
  font-size: 16px;
  color: #DCA97B;  
  justify-content: center;
}

.footer-links a i {
  font-size: 20px;
  color: #DCA97B;
}

.footer-links a:hover {
  color: #ecdaca;
}

.footer-links a:hover i {
  color: #ecdaca;
}

.top-links,
.bottom-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    height: auto;
  }

  nav ul {
    text-align: right;
  }

  nav ul li {
    display: inline-block;
    padding: 0 20px;
  }

  nav li a {
    font-size: 18px;
  }

  .right select#language-select {
    font-size: 14px;
    padding: 3px 15px;
  }

  footer {
    flex-direction: column;
    padding: 30px 0;
  }

  .footer-links {
    gap: 40px;
  }

  .top-links,
  .bottom-links {
    flex-direction: row;
    gap: 100px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    height: 60px;
  }

  nav ul li {
    display: inline-block;
    padding: 0 40px;
  }

  nav li a {
    font-size: 20px;
  }

  footer {
    flex-direction: row;
    justify-content: flex-start;
    padding: 40px 60px;
    text-align: left;
  }

  .footer-links {
    flex-direction: column;
    gap: 60px;
  }

  .top-links,
  .bottom-links {
    flex-direction: row;
    gap: 200px;
  }

  .footer-links a {
    font-size: 20px;
    padding-left: 40px;
    justify-content: flex-start;
  }
}

@media (min-width: 1441px) {
  header {
    padding: 0 80px;
    height: 70px;
  }

  nav ul li {
    padding: 0 50px;
  }

  nav li a {
    font-size: 22px;
  }

  footer {
    padding: 50px 100px;
  }

  .top-links,
  .bottom-links {
    gap: 300px;
  }

  .footer-links a {
    font-size: 22px;
    padding-left: 50px;
  }
}
