.main{
  margin-top: 60px;
  margin-left: 45px;
  margin-bottom: 60px;
}

.main .place-image,
.Dishes-image {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(5, 1fr); 
  overflow-x: auto;
  padding: 20px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.Figures{
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(6, 1fr); 
  overflow-x: auto;
  padding: 20px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.place-image a,
.Figures a,
.Dishes-image a {
  display: flex;
  flex-direction: column; 
  text-decoration: none;
  color: #004030;
  align-items: center;
  position: relative;
  transition: transform 0.3s ease;
}

.place-image img {
  width: 220px;
  height: 320px;
  border-radius: 25px;
  border: 3px solid #DCA97B;
  padding: 2.5px;
  transition: border-color 0.5s ease, box-shadow 0.5s ease;
  object-fit: cover;
}

.Figures img {
  width: 160px;
  height: 170px;
  border-radius: 50%;
  border: 3px solid #DCA97B;
  padding: 2.5px;
  transition: border-color 0.5s ease, box-shadow 0.5s ease;
  object-fit: cover;
}

.Dishes-image img {
  width: 220px;
  height: 240px;
  border-radius: 25px;
  border: 3px solid #DCA97B;
  padding: 2.5px;
  transition: border-color 0.5s ease, box-shadow 0.5s ease;
  object-fit: cover;
}

.text-on-image {
  position: absolute;
  top: 25px;
  height: 22px;
  display: flex;
  justify-content: center;
  padding: 0 7px;
  border: 2px solid #004030;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Ping", sans-serif;
}

.text-on-image .location {
  width: 15px;
  height: 15px;
  border: none;
  filter: brightness(0) saturate(100%) invert(21%) sepia(6%) saturate(2931%)
          hue-rotate(116deg) brightness(95%) contrast(104%);
}

.place-image img:hover,
.Figures img:hover,
.Dishes-image img:hover {
  border-color: #004030;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.4);
  transform: scale(1.03);
}

.place-image a:hover .text-on-image {
  border-color: #004030;
  box-shadow: 0 0 8px #004030,
              0 0 8px #004030,
              0 0 15px #004030,
              0 0 18px #004030;
}

.place-image a:hover .location {
  filter: brightness(0) saturate(100%) invert(15%) sepia(80%) saturate(5000%) hue-rotate(355deg) brightness(70%) contrast(100%);
}

.place-image a:hover p,
.Figures a:hover p,
.Dishes-image a:hover p {
  color: rgb(242, 57, 57);
  transform: scale(1.03);
}

@media (max-width: 1285px) {
  .main .place-image,
  .Dishes-image {
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
  }
  .Figures{
    grid-template-columns: repeat(6, 1fr); 
    gap: 15px;
  }
  .place-image img {
    width: 170px; height: 250px;
  }
  .Figures img {
    width: 140px; height: 140px;
  }
  .Dishes-image img {
    width: 170px; height: 200px;
  }
  .text-on-image {
    font-size: 15px; padding: 0 6px;
  }
}

@media (max-width: 1110px) {
  .main .place-image,
  .Figures,
  .Dishes-image {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .place-image img {
    width: 160px; height: 240px;
  }
  .Figures img {
    width: 135px; height: 135px;
  }
  .Dishes-image img {
    width: 160px; height: 199px;
  }
  .text-on-image {
    font-size: 14px; padding: 0 5px;
  }
}

@media (max-width: 768px) {
  .main .place-image,
  .Figures,
  .Dishes-image {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .place-image img {
    width: 140px; height: 220px;
  }
  .Figures img {
    width: 115px; height: 125px;
  }
  .Dishes-image img {
    width: 140px; height: 160px;
  }
  .text-on-image {
    font-size: 12px; padding: 0 3px;
  }

  .place-image a.last-image {
    justify-self: center;
  }
}

@media (max-width: 480px) {
  .main .place-image,
  .Figures,
  .Dishes-image {
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
  }

  .place-image img {
    width: 120px; height: 180px;
  }
  .Figures img {
    width: 95px; height: 105px;
  }
  .Dishes-image img {
    width: 120px; height: 140px;
  }
  .text-on-image {
    font-size: 13px; padding: 0 4px;
  }

  .place-image a.last-image {
    justify-self: center;
  }
}
